{% extends "base.html" %}

{% block content %}
{% load static %}

<section class="blog-area section-gap" id="blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Welcome to our shop Fano balloons</h1>
          
        </div>
      </div>
    </div>					
    <div class="row">
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">
        </div>
        <p class="date">Girl Newborn </p>
       
        <p>
          We all like to celebrate when a new baby come in our family .. so we will complete your celebration with our balloons
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b2.jpg' %}" alt="">
        </div>
        <p class="date">Eid Balloons</p>
      
        <p>
          We all love Eid so we will design your balloons with a different colour and shape for Eid because it’s a special occasions
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b3.jpg' %}" alt="">
        </div>
        <p class="date">Numbers and letter Balloon👆🏻</p>
      
        <p>
          We discover a new idea for celebrating that mean we will design your party with your name or your age or the year with the numbers and letters
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b4.jpg' %}" alt="">
        </div>
        <p class="date">Birthday balloons 👆🏻</p>
        
        <p>
          Happy birthday to you 
And we can share the happiness with you by our balloons
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b6.jpg' %}" alt="">
        </div>
        <p class="date">Ramadan Balloons</p>
        
        <p>
          We share with you a new idea with decoration for Ramadan
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b5.jpg' %}" alt="">
        </div>
        <p class="date">Small Party in Home</p>
        
        <p>
          Even if you have a small party in your home we will design your home as a big and real part
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b7.jpg' %}" alt="">
        </div>
        <p class="date">Boy Newborn</p>
        
        <p>
          We all like to celebrate when a new baby come in our family .. so we will complete your celebration with our balloons
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
      <div class="col-lg-3 col-md-6 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="{% static 'img/b8.jpg' %}" alt="">
        </div>
        <p class="date">Birthday balloons </p>
        
        <p>
          Happy birthday to you 
          And we can share the happiness with you by our balloons
        </p>
        <div class="meta-bottom d-flex justify-content-between">
          <p><span class="lnr lnr-heart"></span> 15 Likes</p>
          <p><span class="lnr lnr-bubble"></span> 02 Comments</p>
        </div>									
      </div>
     							
    </div>
  </div>	
 



  </div>
  </section>
{% endblock content %}